Properties
.vscode
.editorconfig
.prettierrc
.styleintrc.json

bin
obj
node_modules
npm-debug.log
log

*.md
*.txt
LICENSE

.docker
.dockerignore
Dockerfile
*/docker-compose*
docker
*.bat
*.ps1

.git
.hg
.svn

*.coverage
*.coveragexml
**/coverage.opencover.xml
coverage_report/*
*.zip

*.runtimeconfig.dev.json